@import "variables";

@import '~bootstrap/scss/bootstrap';
@import 'open-iconic-bootstrap';

body {
  background-color: #fefefe;
}

.navbar-tn {
  border-bottom: 1px solid #bebebe;
  background-color: #cc0000 !important;
  a {
    color: #fff !important;
  }
}

.page-store {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

.main-store {
  flex: 1 1 auto;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.main-footer {
  background: #222;
  color: white;

  .nav-link {
    color: white;
  }
}

.page-content {
  padding: 1.5rem;
}

.main-store-title {
  border-bottom: 1px solid #007bff;
}

.all-stores-store, .cart-reservation {
  border: 1px solid #ddd;
}